<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for launcher to see all installed apps on Android 11+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoidLauncher">

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Apps activity -->
        <activity
            android:name=".AllAppsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- Settings activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- App Selection activity -->
        <activity
            android:name=".AppSelectionActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity" />

        <!-- Gestures activity -->
        <activity
            android:name=".GesturesActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity" />

        <!-- Gesture App Selection activity -->
        <activity
            android:name=".GestureAppSelectionActivity"
            android:exported="false"
            android:parentActivityName=".GesturesActivity" />

    </application>

</manifest>